<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body bgcolor="grey">
<center>
<div style="background-color:rgba(202, 228, 37, 0.838);width:300px;margin-top:150px;padding-top:40px;padding-bottom:50px;"><h2>Login</h2>
<form action="logincheck/">
<input name="uname" type="text" placeholder="Username" style="width:200px;height:25px;margin:5px;" required><br>
<input name="iname" type="password" placeholder="Password" style=" width:200px; height:25px; margin:5px;" required>
<br><br>
<button type="submit" style="width:200px;height:25px;color:rgb(0, 0, 0);background-color:rgba(0, 187, 255, 0.548);">Submit</button>
</form>
</div>
</center> 
</body>
</html>